body {
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  opacity: .9;
  background-image: url(../img/main-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
  font-size: 45px;
  letter-spacing: 2px;
}

span {
  color: #f44336;

}

.search-field {
  height: 30px;
  padding: 10px;
}

.skills {
  width: 400px;
}

.location {
  width: 200px;
}

.search-btn {
  height: 50px;
  width: 150px;
  background: #f44336;
  border: none;
  color: #fff;
}

.search-btn:hover {
  background: #bb0d00;
  cursor: pointer;
}
.form-box{
  background: rgba(255,255,255,0.5);
  padding: 10px 25px;
}